@model IEnumerable<CategoryModel>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select category
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var item in Model)
        {
            <a class="dropdown-item" asp-action="TodoByCategory" asp-controller="Todo" asp-route-id="@item.Id">@item.Name</a>
        }
    </div>
</div>