@model TodoCreateFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Todo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="todoModel.CategoryId" class="control-label"></label>
                <select asp-for="todoModel.CategoryId" asp-items="@ViewBag.CategoryId" class="form-control">
                    <option value="0">Choose a category</option>
                    @foreach (var item in Model.categoryModel)
                    {
                        <option value="@item.id">@item.NameC</option>
                    }
                </select>
                <span asp-validation-for="todoModel.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="todoModel.Tittle" class="control-label"></label>
                <input asp-for="todoModel.Tittle" class="form-control" />
                <span asp-validation-for="todoModel.Tittle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="todoModel.DescriptionT" class="control-label"></label>
                <input asp-for="todoModel.DescriptionT" class="form-control" />
                <span asp-validation-for="todoModel.DescriptionT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="todoModel.Deadline" class="control-label"></label>
                <input asp-for="todoModel.Deadline" class="form-control" type="date"/>
                <span asp-validation-for="todoModel.Deadline" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
