@model TodoCreateFormViewModel

@{
    ViewData["Title"] = "IndexCreate";
}

<div class="row centered">
    <div class="col-md-10">
        <h1>Input your todo, please:</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="input-group">
                <input asp-for="todoModel.Tittle" type="text"  class="form-control" placeholder="Enter you todo"  aria-describedby="button-addon1"/>
                <select asp-for="todoModel.CategoryId" class="form-control">
                    <option value="0">Choose a category</option>
                    @foreach (var item in Model.categoryModel)
                    {
                        <option value="@item.id">@item.NameC</option>
                    }
                </select>
                <input type="submit" value="Create" class="btn btn-outline-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Go to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
